<!DOCTYPE html>
<html>
<head>
  <title>QutinoPrototypeDevise</title>
  <%= stylesheet_link_tag  "design" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>

   <% if user_signed_in? %>
     Signed in as <%= current_user.username %>
     <%= link_to "Sign out", destroy_user_session_path %>  <br />
     <%= link_to "My Posts", my_posts_path %>
     <%= link_to "Create Post", new_post_path %>
     <%= link_to "Show All posts", posts_path %>
     <%= link_to "Show My Bids", my_bids_path %>
     <%= link_to "Show Bids Won by me", awared_bids_path %>
   <% end %>

<%= yield %>
</body>
</html>
